# Runtime
ENVIRONMENT=development
APP_TAG=release

# Server
HOST=localhost
HTTP_PROTOCOL=https
ONEUPTIME_HTTP_PORT=80

# Ports
APP_PORT=3002
HOME_PORT=1444
FASTAPI_PORT=8000

# Hostnames
SERVER_APP_HOSTNAME=app
SERVER_HOME_HOSTNAME=dashboard

# PostgreSQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=oneuptime
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change-me

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=oneuptime
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change-me
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=change-me

# Probe
GLOBAL_PROBE_1_NAME=local
GLOBAL_PROBE_1_KEY=change-me
GLOBAL_PROBE_1_ONEUPTIME_URL=http://app:3002
GLOBAL_PROBE_1_PORT=3874

# Secrets
ONEUPTIME_SECRET=change-me
ENCRYPTION_SECRET=change-me
REGISTER_PROBE_KEY=change-me

# Features
BILLING_ENABLED=false
IS_ENTERPRISE_EDITION=false
CAPTCHA_ENABLED=false
DISABLE_TELEMETRY=true

# Required by the nginx template for variable substitutio
NGINX_LISTEN_ADDRESS=
NGINX_LISTEN_OPTIONS=
